.hey {
    height: 100px;
    width: 100px;
    border: 3px double brown;
    background-color: aquamarine;
}
.oy {
    height: 100px;
    width: 100px;
    border: 3px double brown;
    background-color:cadetblue;
}